@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html,
 body {
  font-family: "Quicksand", sans-serif;
  @apply !text-[13px] lg:!text-[15px] relative dark:bg-black bg-white dark:text-white !text-white;
 }
}

@layer components {
  h1,h2 {
    @apply capitalize font-bold mb-4;
  }
  h1{
    @apply  text-2xl text-center lg:text-4xl;
  }
  h2{
    @apply text-lg lg:text-2xl text-left lg:text-center;
  } 
  .content-container {
    @apply mx-auto max-w-[1500px] px-5;
  }
  section {
    @apply my-20;
  }

  .x-hover:hover::after {
    content: "X";
    opacity: 0.4;
  }

  .o-hover:hover::after {
    content: "O";
    opacity: 0.4;
  }

  .strike-row-1{
    @apply w-full h-1 top-[15%];
  };
  .strike-row-2{
    @apply w-full h-1 top-[48%];
  };
  .strike-row-3{
    @apply w-full h-1 top-[83%];
  };
  .strike-column-1{
    @apply w-1 h-full left-[15%];
  };
  .strike-column-2{
    @apply w-1 h-full left-[48%];
  };
  .strike-column-3{
    @apply w-1 h-full left-[83%];
  };
  .strike-diagonal-1{
    @apply w-[90%] h-1 left-[5%] top-[50%];
    transform:skewY(45deg);
  }
  .strike-diagonal-2{
    @apply w-[90%] h-1 left-[5%] top-[50%];
    transform:skewY(-45deg);
  }
}